<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Non Financial Test cases" >
    <test name = "TMB Bank">
      <classes>
          <class name = "mBankingControlCenter.MobileBanking"/>
          <class name = "mBankingControlCenter.FinancialTransactions"/>
      </classes>        
    </test>
</suite>